﻿@model List<RecipeModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Recipes</h1>
    <div class="text-left hover-bg-wrap">
    @foreach (var item in Model)
    {
        <div class="hover-bg" style="display: flex; justify-content: space-between;">
            <span>
                @item.name
            </span>
            <span>
                <a asp-controller="Home" asp-action="RecipeView" asp-route-name="@item.name"><i class="fas fa-edit"></i></a>
                <a asp-controller="Home" asp-action="RecipeDelete" asp-route-name="@item.name" style="color: red;"><i class="fas fa-trash"></i></a>
            </span>
        </div>
    }
    </div>
</div>
