@model SortedDictionary<string, SortedDictionary<string, float>>

@{
    ViewData["Title"] = "Shopping list";
}

<div class="text-center">
    <h1>Shopping list</h1>
    <div class="text-left">
        <div class="hover-bg-wrap" style="margin-bottom: 20px;">
        @foreach (var ingredient in Model.Keys)
        {
            @foreach (var unit in Model[ingredient].Keys)
            {
                <div class="hover-bg">
                    @ingredient @Model[ingredient][unit] @unit<br>
                </div>
            }
        }
        </div>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Done</a>
    </div>
</div>