@if (ViewData.ContainsKey("addRecipe") && (bool)ViewData["addRecipe"])
{
    ViewData["Title"] = "Add recipe";
    ViewData["FormURL"] = Url.Action("RecipeAdd", "Home");
}
else{
    ViewData["Title"] = "Edit recipe";
    ViewData["FormURL"] = Url.Action("RecipeEdit", "Home");
}

<div class="text-left">
    <form action='@ViewData["FormURL"]' method="POST">
        <div class="form-group">
            <label>Recipe name</label>
            <input type="text" name="name" class="form-control" placeholder="Enter recipe name" required value='@ViewData["recipeName"]'>
        </div>
        <div class="form-group">
            <label>Recipe steps</label>
            <textarea class="form-control" name="recipe" rows="5" placeholder="Enter recipe steps" required>@ViewData["recipeSteps"]</textarea>
        </div>
        <div class="form-group">
            <label>Ingredients</label>
            <textarea class="form-control" name="ingredients" rows="5" placeholder="Enter ingredients" required>@ViewData["ingredients"]</textarea>
        </div>
        @if (ViewData.ContainsKey("addRecipe") && !(bool)ViewData["addRecipe"]){
            <input type="hidden" name="oldName" value='@ViewData["recipeName"]'>
        }
        <button type="submit" class="btn btn-primary">Submit</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
    </form>
</div>