@model List<RecipeModel>

@{
    ViewData["Title"] = "Recipe selection";
}

<div class="text-center">
    <h1>Insert recipe amounts</h1>
    <div class="text-left">
    <form action='@Url.Action("IngredientList", "Home")' method="POST">
    @foreach (var item in Model)
    {
        <div class="form-group">
            <label>@item.name</label>
            <input type="number" name="@item.name" class="form-control" min="0" required value="0">
        </div>
    }
    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
    </form>
    </div>
</div>